.custom-file-upload {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.file-upload {
  position: absolute;
  font-size: 100px;
  opacity: 0;
  right: 0;
  top: 0;
}

.file-upload-label {
  background-color: #f0f0f0;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}

.file-upload-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}