{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>头像上传</title>
    <link rel="stylesheet" href="{% static 'user/css/uploadavarat.css' %}">
</head>
<body>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="file-upload" class="custom-file-upload">上传头像</label>
    <div class="form-group">

        <input type="file" class="form-control-file" name="avatar" id="avatar" accept="image/*">
    </div>
    <div><input class="btn btn-info" type="submit" value="确认修改"></div>
</form>
</body>
</html>