.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#update {
    float: right;
}

.create > form  {
    padding-top: 40px;
}


#id_title, #id_category {
    width: 350px;
    height: 35px;
}

#id_intro {
    width: 350px;
    height: 100px;
}
